[submodule "docs/source/Software/mpy-robot-tools"]
	path = docs/source/Software/mpy-robot-tools
	url = https://github.com/antonvh/mpy-robot-tools
[submodule "docs/source/Software/PyHuskyLens"]
	path = docs/source/Software/PyHuskyLens
	url = https://github.com/antonvh/PyHuskyLens
[submodule "docs/source/Software/PUPRemote"]
	path = docs/source/Software/PUPRemote
	url = https://github.com/antonvh/PUPRemote
[submodule "docs/source/Software/SerialTalk"]
	path = docs/source/Software/SerialTalk
	url = https://github.com/antonvh/SerialTalk
